<!DOCTYPE html>
<html>
<head>
  <title>All99cats</title>
</head>
<body>

<% if !current_user.nil? %>
<strong><p>
    <%= "Logged in as: #{current_user.username}"%>
    <%= button_to "Logout", session_url, method: "delete"%>
</p></strong>
<% end %>

<% if flash[:notice] %>
  <% flash[:notice].each do |msg| %>
    <%= msg %><br>
  <% end %>
<% end %>


<%= yield %>

</body>
</html>
